@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

/* body {
  /* background-color: rgba(240, 242, 234, 0.811) !important; 
} */

.students-page {
  background: #303635 !important;
  min-height: 100vh;
  /* min-height : '100vh' */
}

.banner {
  width: 100%;
 border: #e4dada solid 8px;
}
